body{
    background: radial-gradient(circle at 30% 30%, rgba(14, 18, 44, 0.6), transparent 40%),
              radial-gradient(circle at 70% 70%, rgba(10, 7, 49, 0.767), transparent 40%),
              radial-gradient(circle at 50% 50%, rgba(10, 18, 54, 0.5), transparent 50%),
              linear-gradient(135deg, rgb(0, 0, 0), rgb(0, 0, 0));
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.title-code{
    font-size: 60px;
    text-align: center;
    color: rgb(187, 255, 0);
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    animation: borderColorChange 1s infinite;
    border-style: solid;
    display: inline-block;
    padding: 15px;
    position: absolute;
    top:0%;
    left: 20%;
}
@keyframes borderColorChange {
    0% { border-color: rgb(255, 230, 0);}
    50% { border-color: rgba(255, 0, 0, 0.466);}
    100% { border-color: rgb(255, 230, 0);}
}

.img-code1{
    width: 40%;
    height: 45%;
    position: absolute;
    top: 40%;
    left: 9%;
}

.desc-code{
    font-size: 4rem;
    color: rgb(29, 233, 240);
    position: absolute;
    top: 34%;
    left: 58%;
    font-family:'Courier New', Courier, monospace;
}

.subtitle-code{
    font-size: 2rem;
    color: rgb(30, 255, 0);
    position: absolute;
    top: 49%;
    left: 52%;
    font-family:'Courier New', Courier, monospace;
}

.git{
    color: red;
}