* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle at 30% 30%, rgba(34, 53, 94, 0.6), transparent 40%),
              radial-gradient(circle at 70% 70%, rgba(57, 52, 136, 0.829), transparent 40%),
              radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5), transparent 50%),
              linear-gradient(135deg, rgb(0, 0, 0), rgb(0, 0, 0));
  background-attachment: fixed;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.titulo{
    text-align: center;
    font-size: 3rem;
    display: block;
    font-weight: bold;
    color: #3aee52;
    border-style: solid;
    padding: 0;
    border-width: 0.5rem;
    animation: borderColorChange 3s infinite;
}
@keyframes borderColorChange {
    0% { border-color: #3aee52; }
    50% { border-color: #96cfac; }
    100% { border-color: #3aee52; }
}

.locked{
  width: 100%;
  height: 100%;
  max-width: 60px;
  filter: invert(100%);
  cursor: pointer;
}

/* Seção de galeria: Organiza imagens em grade flexível */
.photo1 {
  display: flex; /* Usa Flexbox para organizar imagens */
  flex-wrap: wrap; /* Permite rearranjo em telas menores */
  justify-content: center; /* Centraliza imagens horizontalmente */
  gap: 0.5rem; /* Espaçamento entre imagens */
  margin: 2rem auto; /* Centraliza com margens */
  max-width: 1200px; /* Limita largura em telas grandes */
}

.img-ware1,
.img-ware2{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    transition: transform 0.5s ease, filter 1s ease;
    filter: blur(2px);
    z-index: 0;
}

.noitenublada{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    transition: transform 0.5s ease, filter 1s ease;
    filter: blur(2px);
    z-index: 0;
}

.img-ware1:hover,
.img-ware2:hover,
.noitenublada:hover{
    z-index: 1;
    transform: scale(1.0);
    filter: blur(0px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    cursor: none;
}