body{
    background: radial-gradient(circle at 30% 30%, rgba(17, 40, 173, 0.6), transparent 40%),
              radial-gradient(circle at 70% 70%, rgba(28, 55, 173, 0.4), transparent 40%),
              radial-gradient(circle at 50% 50%, rgba(0, 42, 255, 0.5), transparent 50%),
              linear-gradient(135deg, rgb(0, 0, 0), rgb(0, 0, 0));
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.title-ware{
    font-size: 5.5rem;
    color: rgb(253, 253, 253);
    text-shadow: 5px 5px 4px rgba(14, 96, 204, 0.2);
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
    padding: 10px;
    border-radius: 16px;
    display: inline-block;
    animation: borderColorChange 4s infinite;
    position: absolute;
    top: 1%;
    left: 15%;
}
@keyframes borderColorChange {
    0% { border-color: rgb(0, 26, 255);}
    50% { border-color: rgb(255, 255, 255);}
    100% { border-color: rgb(17, 38, 228);}
}

.Clube-do-WARE{
    width: 28%;
    height: 65%;
    position: absolute;
    top: 30%;
    left: 15%;
    border-radius: 1%;
}